body{
	/* background-image: url(../images/picanha.jpg); */
	background-color: #d6c6ed;
	background-size: 100%;
	font-size: 125%;
	font-family: Arial, sans-serif;
}

header{
	background: #666666;
	text-align: center;
	padding-bottom: 15px;
}

header, footer {
	background: #666666;
	background: linear-gradient(#666666 0%,#00B7B7 100%);
}

footer{
	clear: both;
}

h1{
	color: #ffffff;
}

h2{
	color: #666666;
	background: #00b7ea;
	text-align: center;
}

nav{
	font-variant: small-caps;
	font-size: 150%;
}


summary{
	font-style:normal;
}

details{
	font-style: italic;
}

img {
	width: 85px;
}

button {
	display: inline-block;
	background-color: #00b7ea;
	border-color: #00b7ea;
	width: 120px;
	height: 30px;
}

.nav_link {
	text-decoration: none;
}

.half {
	width: 45%;
	display: inline-block;
	float: left;
	margin-right:2%;
}

.whole {
	clear: both;
}